---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import InfoBar from '../components/InfoBar.astro';
import Menu from '../components/Menu.astro';
import Gallery from '../components/Gallery.astro';
import About from '../components/About.astro';
import Reservations from '../components/Reservations.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <InfoBar />
    <Menu />
    <Gallery />
    <About />
    <Reservations />
    <Contact />
  </main>
  <Footer />
</Layout>
